{% extends 'blogapp/blogbase.html' %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endblock %} 

{% block content %}

<h3>BlogList</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Content</th>
      <th scope="col">Date</th>
      <th scope="col">Author</th>
      <th scope="col">Views</th>
      <th scope="col">Active</th>

    </tr>
  </thead>
<tbody>
{% for blog in allblog %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td class="text-danger">{{blog.title}}</td>
    
      <td><img src="{{blog.image.url }}" width="50"></td>
      <td class="text-info">{{blog.content|truncatewords:"5"}}</td>
      <td class="text-success">{{blog.date|timesince}} ago</td>
      <td class="text-warning">{{blog.author}}</td>
      <td class="text-dark">{{blog.views}}</td>

      <td>
        <a href="{% url 'blogapp:blogdetail' blog.id %}" class="btn btn-primary" mt-3>Detail</a>
        <a href="{% url 'blogapp:blogcreate' %}" class="btn btn-warning" mt-3>create</a> 
        <a href="{% url 'blogapp:blogupdate' blog.id %}" class="btn btn-info" mt-3>Update</a>
        <a href="{% url 'blogapp:blogdelete' blog.id %}" class="btn btn-danger" mt-3>Delete</a>
      </td>

    </tr>
    
{% endfor %}
    
</tbody>
</table>


{% endblock %}

{% block js %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready( function () {
    $('.table').DataTable();
} );
</script>
{% endblock %}
