{% extends 'blogapp/blogbase.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 mx-auto">
		
		<h3>Tour Form</h3>

		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h3>Are you sure</h3>
			<button class="btn btn-danger">Yes</button>
			<a class="btn btn-info" href="{% url 'blogapp:bloglist' %}">No</a>
		</form>
	</div>
</div>
{% endblock %}