{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
 {% block css %}

 {% endblock %}	
</head>
<body class="container-fluid">
	<a href="{% url 'blogapp:bloghome' %}">Home</a> |
	<a href="{% url 'Touristapp:home' %}">Exit blog</a> |
	<a href="{% url 'blogapp:bloglist' %}">BlogList</a>


	<hr>
{% block content %}

{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

{% block js %}


{% endblock %}
</body>
</html>