{% extends 'blogapp/blogbase.html' %}

{% block title %}Home{% endblock %}

{% block content %}
 <h3 class="text-success">Welcome to blogsite</h3>

<div class="row">
	<div class="col-md-7">
      	<h3 class="text-info">Title: {{blogde.title}}</h3>
		<!-- <p>Slug:{{blogde.slug}}</p> -->
		<img src="{{blogde.image.url}}" width="800">
		<p class="text-warning">Content:  {{blogde.content}} </p>
		<p class="text-danger">Date: {{blogde.date}}</p>
		<p class="text-primary">Author: {{blogde.author}}</p>
		<p>Views: {{blogde.views}}</p>
		<h4>All Comments</h4>
		{% for comment in blogde.comment_set.all %}
		 <li>{{comment.text}}</li>
		 <p style="color: #582703;">by {{comment.commenter.username}} {{comment.date|timesince}} ago</p>

		{% empty %}
		 <li>No comments yet</li>
		{% endfor %} 


	</div>	
	<div class="col-md-5">
		<h3 class="text-center text-info my-au">You may also be interested in</h3>
		{% for blog in articlelist %}
		{% if blog != blogde %}
			<div class="col mt-3" align="middle">
				<li><a href="{% url 'blogapp:blogdetail' blog.id %}">{{blog.title}}</a></li>
				<!-- <p align="right"/>Posted on: {{blog.date|timesince}} ago</p> -->
		
				<img src="{{blog.image.url}}" width="150" height="150"  class="img-fluid"> 
			</div>
		{% endif %}
		{% endfor %}
	</div>
</div>	
				
{% endblock %}

