{% extends 'base.html' %}

{% load static %}

{% block content %}

	<input type="text" placeholder="search" name="" id="search">
<div class="row container banks">
	{% for bank in banks %}
	<div class="col-md-3 bank">
		<div class="m-1 bg-info p-2 m-1">
		<img src="{% static 'img/bank.jpg' %}">
			
		<h4 class="text-white">{{bank.bank_name}}</h4>
		<p>IFSC:{{bank.ifsc}}</p>

		<p>Branch:{{bank.branch}}</p>
		<p>Address:{{bank.address}}</p>
		<p>city:{{bank.city}}</p>
		<p>State:{{bank.state}}</p>
		<p>District:{{bank.district}}</p>
		</div>
	</div>
	{% endfor %}
</div>>
{% endblock %}