{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  {% block css %}

  {% endblock %}
</head>
</head>
<body class="container">

<div class="row">
    <div class="col">
      	<h1 class="text-center text-info" >Online Tourist System</h1>
    </div>
</div>

<div class="topnav">
  <a class="active" href="{% url 'Touristapp:home' %}">Home</a>
  <a href="{% url 'Touristapp:about' %}">About</a>
  <a href="{% url 'Touristapp:tourpackage' %}">Tourist Package</a>
  <a href="{% url 'Touristapp:contactus' %}">Contactus</a>
  <a href="{% url 'blogapp:bloghome' %}">Blogapp</a>
  {% if request.user.is_authenticated %}
  <a href="" style="color: red;float: right;">{{request.user}}</a>
  <a style="float:right" class="active" href="{% url 'Touristapp:logout' %}">Logout</a>
  {% else %}
  <a style="float:right" class="active" href="{% url 'Touristapp:registration' %}">Sign up</a>
  <a style="float:right" class="active" href="{% url 'Touristapp:login' %}">Login</a>
 
  {% endif %}

</div>

<hr>
<!-- <div class="row"  style="background: width: 200%;
    height: 500px;
    background-image: url({% static 'img/cover.jpg' %});
    background-size: contain;
    background-repeat: no-repeat;
    ">
</div>	 -->

		
<hr>	
{% block content %}

{% endblock %}
<hr>
<footer class="page-footer font-small blue bg-success">
	<div class="footer-copyright text-center py-3">0 2019 copyright:
	</div>	
</footer>  



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

{% block js %}


{% endblock %}
</body> 
</html>
