{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<img class="image-responsive" src="{% static 'img/cover.jpg' %}" class="img-fluid" style="width: 100%; object-fit: cover; height: 500px;">
</div>		

{% endblock %}