{% extends 'base.html' %}

{% load static %}

{% block content %}
<style type="text/css">
	#id_username{
		color: red;
	}
	#id_password{

	}
</style>
<div class="row">
	<div class="col-md-4 mx-auto">
		{% if error %}
		<li class="text-danger">{{error}}</li>
		{% endif %}
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
		    <button class="btn btn-default primary">Login</button>

		</form>	
	</div>

</div>
{% endblock %}