{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="form-container">
	
 <div class="row">

	<div class="col-md-4 mx-auto">
		
		<h4>Registration Form</h4>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button>Sign up</button>
		</form>	
	</div>

 </div>
</div>

{% endblock %}