{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-6 mx-auto">
		
		<h3>Tour Form</h3>

		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-primary">Submit data</button>
		</form>
	</div>
</div>
{% endblock %}