{% extends 'base.html' %}

{% load static %}
{% block content %}


<h3>Title:{{package.name}}(viewed {{package.views}} times)</h3>
<img src="{{package.image.url}}" width="800">
<p>Location:{{package.content}}</p>
<p>Amount:{{package.author}}</p>


{% endblock %}