{% extends 'base.html' %}


{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endblock %} 


{% block content %}
<h3>
	All Articles
</h3>


  
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Location</th>
      <th scope="col">Amount</th>
      <th>Action</th>

    </tr>
  </thead>
<tbody>
{% for tour in allpackage %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{tour.title}}</td>
      <td><img src="{{tour.image.url }}" width="50"></td>
      <td>{{tour.location}}</td>
      <td>{{tour.amount}}</td>

      <td>
        <a href="{% url 'Touristapp:tourpackagedetail' tour.id %}" class="btn btn-primary">Detail</a>
        <a href="{% url 'Touristapp:tourpackageupdate' tour.id %}" class="btn btn-info">Update</a>
        <a href="{% url 'Touristapp:tourpackagedelete' tour.id %}" class="btn btn-danger">Delete</a>
      </td>

    </tr>
    
{% endfor %}
    
  </tbody>
</table>

{% endblock %}

{% block js %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready( function () {
    $('.table').DataTable();
} );
</script>
{% endblock %}